body {
  text-align: center;
  font-size: 1em;
  font-family: verdana;
  background-color: #d0cfcf;
  margin: 0;
}
h1 {
  font-size: 2.0em;
  padding: 5px 0;
  border-bottom: 1px solid #2b2b2b;
  margin: 0 0 10px 0;
  color: #333;
}


.column1 {
  float: left;
  width: 33%;
}

.column2 {
  float: left;
  width: 33%;
  border-left-style:solid; 
  border-right-style:solid;
  border-top-width: 20px;
  border-left-width: 5px;
  border-right-width: 5px;
  border-top-style:inset; 
  border-bottom-style:inset;
  border-color: #3a3939;
}

.column3 {
  float: left;
  width: 33%;
}


.rowborder {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
  height: 15px;
}


.row {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
}

.row > div {
  height: 60px;
  width: 60px;
  background-color: #ffffff;
  border-color: #080808;
  border-style: solid;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  margin: 4px;
  line-height: 50px;
  font-weight: bold;
  font-size: 2.5em;
}

.row > div.red {
  background-color: #f80808;
}
.row > div.blue{
  background-color: #0aa8f7;
}
.row > div.yellow {
  background-color: #f8d808;
}
.row > div.green{
  background-color: #08f830;
}
.row > div.cyan {
  background-color: #20cabe;
}
.row > div.purple {
  background-color: #8700f5;
}
.row .gap{
  display: block;
  width: 20px;
  height: 60px;
  border: 1px solid #e9e6e6;
  margin: 4px;
  text-align: center;
  line-height: 60px;
  border-radius: 0%;
  font-weight: bold;
  font-size: 2.5em;
}
.row .hint {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60px;
  height: 60px;
  border: 1px solid #080808;
  margin: 5px;
  text-align: center;
  line-height: 60px;
  border-radius: 0%;
  font-weight: bold;
  font-size: 2.5em;

}

.row .hint > div {
  display: table-cell;
  height: 15px;
  width: 15px;
  background-color: #f2eeee;
  border-color: #080808;
  border-style: solid;
  border-radius: 50%;
  text-align: center;
  text-transform: uppercase;
  line-height: 50px;
  font-weight: bold;
  font-size: 2.5em;
  margin: 6px 6px;

}


.row.hint> div.white {
  background-color: #f2eeee;
}

.row .hint> div.red {
  background-color: #f80808;
}

.row .hint> div.black {
  background-color: #080808;
}

.keypadbox {
  width: 300px;
  border: 10px solid green ;
}

.keypad {
  display: inline;
  width: 60px;
  height: 60px;
  /* margin: 4px; */
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  font-size: 2.0em;
  
}

.keypad > .other {
  height: 60px;
  width: 160px;
  background-color: #bcb4b4;
  border-color: #080808;
  border-style: solid;
  border-radius: 5%;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  /* margin: 10px; */
  line-height: 50px;
  font-weight: bold;
  font-size: 0.7em;
}

h2 {
  font-size: 1.0em;
  padding: 5px 0;
  margin: 0 0 10px 0;
  color: #333;
}

.keypad > div {
  height: 60px;
  width: 60px;
  background-color: #ffffff;
  border-color: #080808;
  border-style: solid;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  margin: 4px;
  line-height: 50px;
  font-weight: bold;
  font-size: 1.0em;
}


.keypad > div.red {
  background-color: #f80808;
}
.keypad > div.blue{
  background-color: #0aa8f7;
}
.keypad > div.yellow {
  background-color: #f8d808;
}
.keypad > div.green{
  background-color: #08f830;
}
.keypad > div.cyan {
  background-color: #20cabe;
}
.keypad > div.purple {
  background-color: #8700f5;
}

