body {
  text-align: center;
  font-size: 1em;
  font-family: verdana;
  background-color: #f0f0f0;
  margin: 0;
}
h1 {
  font-size: 2.0em;
  padding: 5px 0;
  border-bottom: 1px solid #2b2b2b;
  margin: 0 0 10px 0;
  color: #333;
}


.column1 {
  float: left;
  width: 30%;
  text-align: left;
  margin: 4px;
}

.column2 {
  float: left;
  width: 33%;
  border-left-style:solid; 
  border-right-style:solid;
  border-top-width: 20px;
  border-left-width: 5px;
  border-right-width: 5px;
  border-top-style:inset; 
  border-bottom-style:inset;
  border-color: #3a3939;
}

.column3 {
  float: left;
  width: 33%;
  margin: 20px;
}


.rowborder {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color:  #bfbebe;
  height: 15px;
}


.row {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color:  #bfbebe;
}

.row > div {
  height: 60px;
  width: 60px;
  background-color: #ffffff;
  border-color: #080808;
  border-style: solid;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  margin: 5px;
  line-height: 50px;
  font-weight: bold;
  font-size: 2.5em;
}

.row > div.red {
  background-color: #f80808;
}
.row > div.blue{
  background-color: #0aa8f7;
}
.row > div.yellow {
  background-color: #f8d808;
}
.row > div.green{
  background-color: #08f830;
}
.row > div.cyan {
  background-color: #20cabe;
}
.row > div.purple {
  background-color: #8700f5;
}
.row .gap{
  display: block;
  width: 20px;
  height: 60px;
  border: 1px solid #bfbebe;
  background-color: #bfbebe;
  margin: 4px;
  text-align: center;
  line-height: 60px;
  border-radius: 0%;
  font-weight: bold;
  font-size: 2.5em;
}
.row .hint {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60px;
  height: 60px;
  border: 1px solid #080808;
  margin: 5px;
  text-align: center;
  line-height: 60px;
  border-radius: 0%;
  font-weight: bold;
  font-size: 2.5em;

}

.row .hint > div {
  display: table-cell;
  height: 15px;
  width: 15px;
  background-color: #f2eeee;
  border-color: #080808;
  border-style: solid;
  border-radius: 50%;
  text-align: center;
  text-transform: uppercase;
  line-height: 50px;
  font-weight: bold;
  font-size: 2.5em;
  margin: 6px 6px;

}


.row.hint> div.white {
  background-color: #f2eeee;
}

.row .hint> div.red {
  background-color: #f80808;
}

.row .hint> div.black {
  background-color: #080808;
}

.keypadbox {
    width: 300px;
    border: 15px solid rgb(70, 71, 70);
    padding: 50px;
    margin: 30px;
}

.keypad {
  display: inline;
  width: 60px;
  height: 60px;
  /* margin: 4px; */
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  font-size: 2.0em;
  
}

.keypad > .other {
  height: 60px;
  width: 120px;
  background-color: #bcb4b4;
  border-color: #080808;
  border-style: solid;
  border-radius: 5%;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  /* margin: 10px; */
  line-height: 50px;
  font-weight: bold;
  font-size: 0.7em;
}

h2 {
  font-size: 1.0em;
  padding: 5px 0;
  margin: 0 0 10px 0;
  color: #333;
}

.keypad > div {
  height: 60px;
  width: 60px;
  background-color: #ffffff;
  border-color: #080808;
  border-style: solid;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  margin: 4px;
  line-height: 50px;
  font-weight: bold;
  font-size: 1.0em;
}


.keypad > div.red {
  background-color: #f80808;
}
.keypad > div.blue{
  background-color: #0aa8f7;
}
.keypad > div.yellow {
  background-color: #f8d808;
}
.keypad > div.green{
  background-color: #08f830;
}
.keypad > div.cyan {
  background-color: #20cabe;
}
.keypad > div.purple {
  background-color: #8700f5;
}

.hintblack{
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #0b0b0b;
  border-color: #080808;
  border-style: solid;
  border-radius: 50%;
  text-align: center;
  text-transform: uppercase;
  line-height: -10 px;
  font-weight: bold;
  font-size: 2.5em;
  margin: -2px 2px;
}

.hintred{
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #f30909;
  border-color: #080808;
  border-style: solid;
  border-radius: 50%;
  text-align: center;
  text-transform: uppercase;
  line-height: -10 px;
  font-weight: bold;
  font-size: 2.5em;
  margin: -2px 2px;
}

.newGame{
  height: 60px;
  width: 200px;
  background-color: #14c389;
  border-color: #080808;
  border-style: solid;
  border-radius: 5%;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  /* margin: 10px; */
  line-height: 50px;
  font-weight: bold;
  font-size: 1.5em;
}

.show {
  background: rgba(255,255,255,0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.show div {
  max-width: 480px;
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  margin: 10% auto;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}